.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
  text-decoration: none;

  &.btn:hover, &.btn:focus, &.btn.focus {
    color: rgba(255,255,255,0.5);
  }

}

.btn-white-transparent.btn-outline {
  color: rgba(255,255,255,0.7);
  border-color: rgba(255,255,255,0.7);
}

.btn-white.btn-outline {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-primary.btn-outline {
  color: $primary;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
