
$card-padding: 20px !default;
$card-bg-color: #fff !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;
$off-black: rgba(0, 0, 0, 0.87) !default;

@mixin box-shadow-2($args1, $args2) {
    -webkit-box-shadow: $args1, $args2;
    -moz-box-shadow: $args1, $args2;
    box-shadow: $args1, $args2;
}

.z-depth-1{
    @include box-shadow-2(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
}

.card-panel {
    padding: $card-padding;
    margin: $element-top-margin 0 $element-bottom-margin 0;
    border-radius: 2px;
    @extend .z-depth-1;
    background-color: $card-bg-color;
}

.material-card {
    position: relative;
    overflow: hidden;
    margin: $element-top-margin 0 $element-bottom-margin 0;
    background-color: $card-bg-color;
    border-radius: 2px;
    @extend .z-depth-1;
    width: 100%;



    &.small {
        height: 300px;

        .card-image {
            height: 150px;
        }
        .card-content {
            height: 150px;
        }

    }

    &.medium {
        height: 400px;

        .card-image {
            height: 250px;
        }
        .card-content {
            height: 150px;
        }
    }

    &.large {
        height: 500px;

        .card-image {
            height: 330px;
        }
        .card-content {
            height: 170px;
        }
    }

    .card-image {
        position: relative;

        // Image background for content
        img {
            border-radius: 2px 2px 0 0;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        .card-title {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: $card-padding;
        }
    }

    .card-content {
        padding: $card-padding;
        border-radius: 0 0 2px 2px;

        .row {
            padding: 0;
        }

        .col {
            padding: 0 5px 0 0;
        }

        p {
            margin: 0;
            color: inherit;
        }
        &.has-action {
            margin-bottom: 41px;
        }
    }
}
