// http://www.google.com/design/spec/style/color.html#color-color-palette
$primary: #009688;
$primary-2nd: #004D40;

$splash-color: #ffffff;

$error: #F44336;
$error-2nd: #D32F2F;

$success: #4CAF50;
$success-2nd: #388E3C;

$bg-stable:#E0E0E0 ;

$deg: 45deg;
$font-size: 14px;

// http://www.stefanwienert.de/blog/2012/05/18/easy-css-vendor-prefix-mixin-for-sass/
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}
