$icon-font-path: '../fonts/';

@import "variables";
@import "btn";

// bower:scss
// endbower

/* Space out content a bit */
body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.bg-primary {
  background-color: $primary;
}

a {
  color: $primary;

  &.underline {
    text-decoration: underline;
  }
}

.bg-primary-2nd {
  background-color: $primary-2nd;
  color: $splash-color;
}

.alert.alert-warning {
  padding: 10px;
  margin: 10px;
  border: solid #D32F2F;
  color: $error;
}

.upper-logo {
  max-width: 100px;
}

.upper-logo-small {
  max-width: 60px;
}

.lower-logo {
  max-width: 200px;
}

.coffee {
  max-width: 50%;
}

.small {
  font-size: 0.75em;
}

.full-bg {
  padding: 20px 0;

  a {
    color: $splash-color;
  }

  .light {
    color: rgba(255, 255, 255, 0.7);
  }
}

.hero {
  width: 100%;
  background-image: url('/images/scene.jpg');
  background-repeat: repeat, no-repeat;
  background-size: cover;
  background-position: 0% 0%, center center;
  background-attachment: scroll, scroll;

  padding-bottom: 0;
  height: 500px;
  height: 80vh;
  color: $splash-color;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 3.2em;
    margin-top: 20%;
  }
}

.align-center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 60px;
}

.margin-top {
  margin-top: 60px;
}

.prod-logo {
  text-align: center;
  margin-top: 20px;
  img {
    max-width: 75%;
  }
}

.tec-logo {
  text-align: center;
  margin-top: 20px;
  img {
    max-width: 150px;
    max-height: 200px;
  }
}

.text-paragraph {
  h1, h2, h3, h4, h5 {
    margin: 30px 0;
  }

  h1, h2 {
    border-top: solid rgba(0, 0, 0, 0.2) 1px;
    padding-top: 15px;
  }

  p {
    margin-bottom: 15px;
  }

  pre {
    text-align: right;
    margin-bottom: 40px;
  }

}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

  .margin-top {
    margin-top: 10px;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  body {
    font-size: 16px;
  }
}
