$icon-font-path: '../fonts/';

@import "variables";
@import "btn";
@import "libs/materializecss-forms";

// bower:scss
// endbower

/* Space out content a bit */
body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6, body {
    font-weight: 300;
}

.bold {
    font-weight: 900;
}

.bg-primary {
    background-color: $primary;
}

.nav {
    margin-left: 15px;
}

a {
    color: $primary;

    &.underline {
        text-decoration: underline;
    }
}

.bg-primary-2nd {
    background-color: $primary-2nd;
    color: $splash-color;
}

.alert.alert-warning {
    padding: 10px;
    margin: 10px;
    border: solid #D32F2F;
    color: $error;
}

.error {
    color: $error;
}

.upper-logo {
    max-width: 100px;
}

.lower-logo {
    max-width: 200px;
}

.coffee {
    max-width: 50%;
}

.max-100 {
    max-width: 100%;
}

.small {
    font-size: 0.75em;
}

.full-bg {
    padding: 20px 0;

    a {
        color: $splash-color;
    }

    .light {
        color: rgba(255, 255, 255, 0.7);

        a {
            color: rgba(255, 255, 255, 0.7);
        }
    }
}

.hero {
    width: 100%;
    background: url('/images/scene.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    padding-bottom: 0;
    height: 600px;
    color: $splash-color;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

    h1 {
        font-size: 3.2em;
        margin-top: 20%;
    }
}

.margin-top, .margin-top-fix {
    margin-top: 60px;
}

.margin-bottom, .margin-bottom-fix {
    margin-bottom: 60px;
}

.margin-top-medium {
    margin-top: 30px;
}

.prod-logo {
    text-align: center;
    margin-top: 20px;
    img {
        max-width: 75%;
    }
}

.tec-logo {
    text-align: center;
    margin-top: 20px;
    img {
        max-width: 150px;
        max-height: 200px;
    }
}

.text-paragraph {
    h1, h2, h3, h4, h5 {
        margin: 30px 0;
    }

    //font-size: 16px;

    h1, h2 {
        border-top: solid rgba(0, 0, 0, 0.2) 1px;
        padding-top: 15px;
    }

    p {
        margin-bottom: 15px;
    }

    pre {
        text-align: right;
        margin-bottom: 40px;
    }

    a {
        color: #000000;
        text-decoration: underline;

    }

}

.group:after {
    content: "";
    display: table;
    clear: both;
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 992px) {

    .hero {
        h1 {
            margin-top: 15%;
        }
        height: 450px;
    }

}

@media (max-width: 768px) {

    .hero {
        h1 {
            font-size: 3.2em;
        }
    }

    .upper-logo {
        max-width: 75px;
    }

    .margin-top {
        margin-top: 10px;
    }

    .margin-bottom {
        margin-bottom: 10px;
    }

    body {
        font-size: 16px;
    }
}

@media (max-width: 650px) {

    .hero {
        h1 {
            font-size: 2.7em;
        }
        height: 320px;
    }

}

@media (max-width: 550px) {

    #feedback-form {
        .col-xs-6 {
            width: 100%;
        }
    }

}
